{
  "bracketSameLine": true,
  "parser": "typescript",
  "printWidth": 120,
  "vueIndentScriptAndStyle": true,
  "svelteAllowShorthand": true,
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
